{% load staticfiles %}
<html>
    <head>
        <title>Mask Board</title>
        {% load static %}
        <script src="{% static 'static_jquery/js/jquery.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">C-mind Board on Business</a></h1>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
                <a href="{% url 'password_reset' %}" class="top-menu"><span class="glyphicon glyphicon-cog"></span></a>
                Prototype, All Rights Reserved. Logged in as: {{ user.username }}
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %} 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div> 
    </body>
</html>
