{% extends 'blog/base.html' %}

{% block content %}
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    </style>
    <table>
    <tr>
        <th>Article ID
        <th>Thread
        <th>Subject
        <th>Author
        <th>Nickname
        <th>Created
        <th>Published
        <th>Recommended
        <th>Read
    </tr>
    {% for post in posts %}
        <tr>
        <td>#{{ post.id }}&nbsp</td>
        <td>{{ post.thread_no }}&nbsp</td>
        <td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }} [{{ post.comments.count }}]</a>&nbsp</td>
        <td>{{ post.author }}&nbsp</td>
        <td>{{ post.nickname }}&nbsp</td>
        <td>{{ post.created_date|date:"m/d/Y"}}&nbsp</td>
        <td>{{ post.published_date|date:"m/d/Y"}}</td>
        <td>{{ post.num_recommendation }}
        <td>{{ post.num_read }}
        </tr> 
    {% endfor %}
    </table>
{% endblock content %}
