{% extends 'blog/base.html' %}

{% block content %}
    <p style="background-color:#EBCFA2;">
    {% if nickname %}
        You are {{ nickname }} in this thread.
    {% else %}
        I don't know who you are
    {% endif %}
    </p>
    <div class="post">
        <h3>{{ post.title }}</h3>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {{ post.nickname }} wrote:
        <p class="content">{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'post_reply' pk=post.pk %}">Reply</a>
        {% if post.author == user.username %}
            <a href="{% url 'post_edit' pk=post.pk %}">Edit</a>
        {% else %}
            <span style="color:#dddddd">Edit</span>
        {% endif %}
        <a href="{% url 'thread' pk=post.pk %}">Thread</a>
    </div>
<hr>
{% for comment in post.comments.all %}
    {% if user.is_authenticated %}
    <div class="comment-header">
        <span class="comment_id"> #{{ comment.id }} </span>
        by
        {% if comment.author == user.username %} 
            <strong>{{ comment.nickname }}</strong>
            <div class="date">
                {{ comment.created_date }}
                <a href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        {% else %}
            {{ comment.nickname }}
            <div class="date">
                {{ comment.created_date }}
            </div>
        {% endif %}
    </div>
    <div class="comment">{{ comment.text|linebreaks }}</div>
    {% endif %}
{% endfor %}
{% if form %}
    <form id="comment-form" action="{% url 'add_comment_to_post' pk=post.pk %}" method="POST">
    {% csrf_token %}
    Comment: <input type='text' size=80 name="text" required>
    <input type='submit' value='Save'>
    </form> 
{% else %}
    CommentForm is not found!
{% endif %}
{% endblock %}
