{% extends 'blog/base.html' %}

{% block content %}
    {% if nickname %}
        You are {{ nickname }} in this thread.
    {% else %}
        I don't know who you are
    {% endif %}
    {% for post in posts %}
        <div class="post">
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <div class="date">
                {{ post.published_date }}
            </div>
            {% if post.author == user.username %}
                <strong>{{ post.nickname }}</strong>
            {% else %}
                {{ post.nickname }}
            {% endif %}
            wrote:
            <p class="comment">{{ post.text|linebreaksbr }}</p>
            {% for comment in post.comments.all %}
                {% if user.is_authenticated %}
                    <div class="comment">
                    <div class="date">
                    {{ comment.created_date }}
                        {% if comment.author == user.username %}
                            <a href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        {% endif %}
                    </div>
                    #{{ comment.id }}
                    {% if comment.author == user.username %}
                        <strong>{{ comment.nickname }}</strong>
                    {% else %}
                        {{ comment.nickname }}
                    {% endif %}
                    <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            {% if form %}
                <form action="{% url 'add_comment_to_post' pk=post.pk %}" method="POST">
                    {% csrf_token %}
                    Comment: <input type='text' size=80 name="text" required>
                    <input type='submit' value='Save'>
                </form> 
            {% else %}
                CommentForm is not found!
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
